/* Reset */
* {
  box-sizing: border-box;
}

/* Header */
header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1;
}

header li {
  margin: auto;
  list-style-type: none;
}

.navbar {
  width: 100%;
  background-color: darkgrey;
  padding: 1em;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav  img{
  background-color: white
  padding: 2em;
}


li {
  text-decoration: none;
}

form {
                width:100%;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

/* Body */
body {
  background-color: white;
  display: inline-block;
}

.main {
  color: black;
  width: 50%;
  border-style: solid;
  background-color: grey;
  margin-top: 8em;
  margin-left: 4em;
  margin-right: 4em;
  float: left;
  z-index: 0;
}
.sideRight {
  border-style: solid;
  color: black;
  width: 20%;
  margin-top: 8em;
  margin-right: 4em;
  padding-top: .25em;
  padding-left: .5em;
  padding-right: .5em;
  float: left;
}

.video {
  padding: 1em;
  margin: 2em;
  background-color: white;
}

.under_vid {
  padding: 1em;
  margin: 2em;
  background-color: white;
}


#comments {
  display: flex;
  width: 100%;
}

.comment_bar {
  width: 50%;
  height: auto;
  float: left;
}

.comment_bar img {
  /*float: left;*/
}

.comment_bar ul{
  justify-content: space-between;
}
.comment_bar li {
  list-style-type: none;
}

.name {
  width: 45%;
  padding: .5em;
  margin: .5em;
  font-size: auto;
  border-style: solid;
  float: left;

}

.uplikes {
  width: 45%;
  padding: .5em;
  margin: .5em;
  font-size: auto;
  border-style: solid;
  float: left;
  text-align: right;
}

/* Footer */

footer {
  color: white;
  background-color: grey;
  bottom: -1;
  margin-top: 1em;
  margin-bottom: 0;
  position: relative;
  padding: 1em 2em;
  float: left;
}

@media only screen and (min-width: 320px) {
  /* reset */

  /* article */
  /* footer */
  /* header */
  header {
    justify-content: space-around;
    resize: vertical;
  }

}
